div.container {
    color: #305A7D;
}

div.container {
    color: #305A7D;
    margin: 0 auto;
}

.image {
    margin: 0 auto;
    width: 480px;
    height: 480px;
}

.navbar {
    /* width: 100%; */
}

.navbar-start {
    margin: 0 auto;
}

#aboutMe {
    width: 60%;
}

.container {
   
}

.container is-fluid {

}

.navbar-start {
    /* background-color: blue; */
}

nav.navbar {
    background-color: #6DA1B8;
}

#mainContainer {
    background-color:red;
}

body {
    background-color: #305A7D;
}

div.notification {
    background-color: #F5F4F2;
}



