div.container {
    color: #305A7D;
}

div.container {
    color: #305A7D;
    margin: 0 auto;
}

.image {
    margin: 0 auto;
    width: 480px;
    height: 480px;
}

.projects {
    margin: 0 auto;
    width: 480px;
    height: 480px;
    border: 3px solid #ccc;
}

.projects:hover {
    border: 3px solid #777;
}
.navbar-start {
    margin: 0 auto;
}

#aboutMe {
    width: 60%;
}

nav.navbar {
    background-color: #6DA1B8;
}

body {
    background-color: #305A7D;
}

div.notification {
    background-color: #F5F4F2;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #305A7D;
 }



