div.container {
    color: #305A7D;
}

div.container {
    color: #305A7D;
    margin: 0 auto;
}

.image {
    margin: 0 auto;
    width: 480px;
    height: 480px;
}

.navbar-start {
    margin: 0 auto;
}

#aboutMe {
    width: 60%;
}

nav.navbar {
    background-color: #6DA1B8;
}

body {
    background-color: #305A7D;
}

div.notification {
    background-color: #F5F4F2;
}



